.wy-nav-content {
    max-width: none;
}
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
.wy-side-nav-search img {
    width: 100px !important;
    height: auto;
}
